In [10]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.appName("NYC_Taxi_Analysis").getOrCreate()

df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .option("multiline", "true") \
    .format('parquet').load("data/yellow_tripdata_2018-01.parquet")

df.show(5)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|       1| 2018-01-01 00:21:05|  2018-01-01 00:24:23|              1|          0.5|         1|                 N|          41|          24|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|
|       1| 2018-01-01 00:44:55|  2018-01-01 01:03:05|              1|          2.7|         1|                 N|         239|         140|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|                NULL|       NULL|
|       1| 2018-01-01 00:08:26|  2018-01-01 00:14:21|              2|          0.8|         1|                 N|         262|         141|           1|        6.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         8.3|                NULL|       NULL|
|       1| 2018-01-01 00:20:22|  2018-01-01 00:52:51|              1|         10.2|         1|                 N|         140|         257|           2|       33.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        34.8|                NULL|       NULL|
|       1| 2018-01-01 00:09:18|  2018-01-01 00:27:06|              2|          2.5|         1|                 N|         246|         239|           1|       12.5|  0.5|    0.5|      2.75|         0.0|                  0.3|       16.55|                NULL|       NULL|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

In [11]:
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: long (nullable = true)
 |-- DOLocationID: long (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- airport_fee: double (nullable = true)

In [19]:
from pyspark.sql.functions import col

df = df.withColumn("Revenue", 
    col("fare_amount") + 
    col("extra") + 
    col("mta_tax") + 
    col("tip_amount") + 
    col("tolls_amount") + 
    col("improvement_surcharge") + 
    col("total_amount")
)

In [20]:
df.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|airport_fee|           Revenue|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2018-01-01 00:21:05|  2018-01-01 00:24:23|              1|          0.5|         1|                 N|          41|          24|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|              11.6|
|       1| 2018-01-01 00:44:55|  2018-01-01 01:03:05|              1|          2.7|         1|                 N|         239|         140|           2|       14.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        15.3|                NULL|       NULL|              30.6|
|       1| 2018-01-01 00:08:26|  2018-01-01 00:14:21|              2|          0.8|         1|                 N|         262|         141|           1|        6.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         8.3|                NULL|       NULL|              16.6|
|       1| 2018-01-01 00:20:22|  2018-01-01 00:52:51|              1|         10.2|         1|                 N|         140|         257|           2|       33.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        34.8|                NULL|       NULL|              69.6|
|       1| 2018-01-01 00:09:18|  2018-01-01 00:27:06|              2|          2.5|         1|                 N|         246|         239|           1|       12.5|  0.5|    0.5|      2.75|         0.0|                  0.3|       16.55|                NULL|       NULL|              33.1|
|       1| 2018-01-01 00:29:29|  2018-01-01 00:32:48|              3|          0.5|         1|                 N|         143|         143|           2|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                NULL|       NULL|              11.6|
|       1| 2018-01-01 00:38:08|  2018-01-01 00:48:24|              2|          1.7|         1|                 N|          50|         239|           1|        9.0|  0.5|    0.5|      2.05|         0.0|                  0.3|       12.35|                NULL|       NULL|24.700000000000003|
|       1| 2018-01-01 00:49:29|  2018-01-01 00:51:53|              1|          0.7|         1|                 N|         239|         238|           1|        4.0|  0.5|    0.5|       1.0|         0.0|                  0.3|         6.3|                NULL|       NULL|              12.6|
|       1| 2018-01-01 00:56:38|  2018-01-01 01:01:05|              1|          1.0|         1|                 N|         238|          24|           1|        5.5|  0.5|    0.5|       1.7|         0.0|                  0.3|         8.5|                NULL|       NULL|              17.0|
|       1| 2018-01-01 00:17:04|  2018-01-01 00:22:24|              1|          0.7|         1|                 N|         170|         170|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|                NULL|       NULL|              13.6|
|       1| 2018-01-01 00:41:03|  2018-01-01 00:46:49|              1|          0.6|         1|                 N|         162|         229|           1|        5.5|  0.5|    0.5|      1.35|         0.0|                  0.3|        8.15|                NULL|       NULL|              16.3|
|       1| 2018-01-01 00:52:54|  2018-01-01 01:17:33|              1|          3.5|         1|                 N|         141|         113|           2|       16.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        17.8|                NULL|       NULL|              35.6|
|       2| 2018-01-01 00:17:54|  2018-01-01 00:22:05|              1|         1.04|         1|                 N|         137|         224|           2|        5.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         6.8|                NULL|       NULL|              13.6|
|       2| 2018-01-01 00:24:47|  2018-01-01 00:34:20|              1|         1.22|         1|                 N|         224|          79|           2|        7.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         8.8|                NULL|       NULL|              17.6|
|       2| 2018-01-01 00:37:57|  2018-01-01 00:53:43|              1|         1.92|         1|                 N|         234|         100|           2|       10.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        11.3|                NULL|       NULL|              22.6|
|       1| 2018-01-01 00:35:53|  2018-01-01 00:52:59|              1|          5.7|         1|                 N|          13|         189|           1|       19.0|  0.5|    0.5|      4.05|         0.0|                  0.3|       24.35|                NULL|       NULL|              48.7|
|       2| 2018-01-01 00:30:47|  2018-01-01 01:13:20|              1|         3.74|         1|                 N|          48|         236|           1|       25.5|  0.5|    0.5|       6.7|         0.0|                  0.3|        33.5|                NULL|       NULL|              67.0|
|       1| 2018-01-01 00:21:45|  2018-01-01 00:25:58|              2|          0.6|         1|                 N|         163|         162|           1|        4.5|  0.5|    0.5|       1.7|         0.0|                  0.3|         7.5|                NULL|       NULL|              15.0|
|       1| 2018-01-01 00:31:11|  2018-01-01 01:07:56|              1|         10.9|         1|                 N|         229|          61|           2|       35.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        36.3|                NULL|       NULL|              72.6|
|       2| 2018-01-01 00:15:42|  2018-01-01 00:21:38|              5|         1.22|         1|                 N|         236|          75|           2|        6.0|  0.5|    0.5|       0.0|         0.0|                  0.3|         7.3|                NULL|       NULL|              14.6|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [22]:
passenger_by_area = df.groupBy("PULocationID").agg(sum("passenger_count").alias("total_passengers")).orderBy("total_passengers")

passenger_by_area.show()

+------------+----------------+
|PULocationID|total_passengers|
+------------+----------------+
|          44|               1|
|         204|               1|
|         184|               2|
|         187|               2|
|           5|               3|
|         176|               3|
|          46|               3|
|          58|               4|
|           2|               4|
|         199|               4|
|          30|               4|
|         245|               5|
|         221|               6|
|         214|               6|
|          84|               8|
|         105|               8|
|         156|               8|
|         109|               8|
|         251|               9|
|         115|              12|
+------------+----------------+
only showing top 20 rows

In [23]:
vendor_earnings = df.groupBy("VendorID") \
    .agg(
        avg("fare_amount").alias("avg_fare"),
        avg("total_amount").alias("avg_total_earning"),
        avg("Revenue").alias("avg_revenue")
    ).orderBy("VendorID")

vendor_earnings.show()

+--------+------------------+------------------+------------------+
|VendorID|          avg_fare| avg_total_earning|       avg_revenue|
+--------+------------------+------------------+------------------+
|       1|11.959975333672647|15.127384289902137|30.254768579804274|
|       2|12.467037370438032|15.775723474073514|31.545275988143338|
+--------+------------------+------------------+------------------+

In [26]:
from pyspark.sql.window import Window

window_spec = Window.partitionBy("payment_type").orderBy("tpep_pickup_datetime").rowsBetween(Window.unboundedPreceding, Window.currentRow)

payment_analysis = df.select(
    "payment_type",
    "tpep_pickup_datetime",
    "total_amount"
).withColumn(
    "running_count", 
    row_number().over(window_spec)
)

payment_analysis.orderBy("payment_type", "tpep_pickup_datetime").show()

+------------+--------------------+------------+-------------+
|payment_type|tpep_pickup_datetime|total_amount|running_count|
+------------+--------------------+------------+-------------+
|           1| 2002-12-31 23:01:55|        7.56|            1|
|           1| 2003-01-01 00:06:34|       48.96|            2|
|           1| 2008-12-31 18:30:07|      180.06|            3|
|           1| 2008-12-31 23:02:27|       22.88|            4|
|           1| 2008-12-31 23:45:58|       28.56|            5|
|           1| 2009-01-01 00:36:33|       12.36|            6|
|           1| 2009-01-01 00:48:49|       20.38|            7|
|           1| 2009-01-01 01:14:52|       18.36|            8|
|           1| 2009-01-01 01:37:21|        6.36|            9|
|           1| 2009-01-01 03:32:24|       38.47|           10|
|           1| 2009-01-01 08:04:56|       49.86|           11|
|           1| 2009-01-01 10:05:05|        12.0|           12|
|           1| 2009-01-01 13:25:15|         9.0|           13|
|           1| 2009-01-01 22:57:08|        16.8|           14|
|           1| 2017-12-31 10:53:16|       14.76|           15|
|           1| 2017-12-31 11:08:42|       14.12|           16|
|           1| 2017-12-31 11:11:39|       21.96|           17|
|           1| 2017-12-31 11:15:35|        9.36|           18|
|           1| 2017-12-31 11:17:35|       24.36|           19|
|           1| 2017-12-31 11:22:21|       27.96|           20|
+------------+--------------------+------------+-------------+
only showing top 20 rows

In [27]:
from pyspark.sql.functions import date_format, desc

specific_date = "2009-01-01"

top_vendors = df.filter(date_format("tpep_pickup_datetime", "yyyy-MM-dd") == specific_date) \
                    .groupBy("VendorID") \
                    .agg(sum("Revenue").alias("total_revenue"), sum("passenger_count").alias("total_passenger_count"), sum("trip_distance").alias("total_trip_distance")) \
                    .orderBy(desc("total_revenue")) \
                    .limit(2)

top_vendors.show()

+--------+-----------------+---------------------+-------------------+
|VendorID|    total_revenue|total_passenger_count|total_trip_distance|
+--------+-----------------+---------------------+-------------------+
|       2|544.9800000000001|                   21|  48.89999999999999|
+--------+-----------------+---------------------+-------------------+

In [28]:
route_passengers = df.groupBy("PULocationID", "DOLocationID").agg(sum("passenger_count").alias("total_passengers")).orderBy(desc("total_passengers"))

route_passengers.show()

+------------+------------+----------------+
|PULocationID|DOLocationID|total_passengers|
+------------+------------+----------------+
|         264|         264|          186705|
|         237|         236|           86737|
|         236|         236|           78691|
|         236|         237|           71752|
|         237|         237|           64499|
|         239|         238|           44479|
|         239|         142|           42383|
|         142|         239|           40365|
|         238|         239|           37758|
|         141|         236|           36201|
|         230|         186|           35109|
|         237|         162|           34384|
|         186|         230|           33942|
|         263|         236|           33661|
|         161|         237|           33641|
|         237|         161|           33593|
|         239|         239|           32184|
|          48|          48|           31495|
|          79|          79|           31263|
|         186|         161|           31190|
+------------+------------+----------------+
only showing top 20 rows

In [29]:
from datetime import timedelta

latest_time = df.agg(max("tpep_pickup_datetime").alias("max_time")).collect()[0]["max_time"]

time_window_10s = latest_time - timedelta(seconds=10)
time_window_5s = latest_time - timedelta(seconds=5)

recent_pickups_10s = df.filter(col("tpep_pickup_datetime") >= time_window_10s) \
                        .groupBy("PULocationID") \
                        .agg(
                            sum("passenger_count").alias("passengers_last_10s")
                        ).orderBy(desc("passengers_last_10s"))

recent_pickups_5s = df.filter(col("tpep_pickup_datetime") >= time_window_5s) \
                        .groupBy("PULocationID") \
                        .agg(
                            sum("passenger_count").alias("passengers_last_5s")
                        ).orderBy(desc("passengers_last_5s"))

In [30]:
recent_pickups_10s.show()

+------------+-------------------+
|PULocationID|passengers_last_10s|
+------------+-------------------+
|          48|                  2|
+------------+-------------------+

In [31]:
recent_pickups_5s.show()

+------------+------------------+
|PULocationID|passengers_last_5s|
+------------+------------------+
|          48|                 2|
+------------+------------------+